.TopTenWidget {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #dad7cd;
    width: 25%;
    min-width: 400px;
    height: 630px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title {
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px;
}

.toplist {
    overflow-y: scroll;
}

li::marker {
    font-size: 1.17em;
}

li {
    border-color: black;
    border-width: 0 0 2px;
    border-style: dashed;
}
